<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        {% autoescape off %}
            Hi {{ user.username }},
            Please click on the link to reset password,
            <a href="http://{{domain}}{% url 'app:reset' uidb64=uid token=token %}">Link reset here</a>
            If you think, it's not you, then just ignore this email.
        {% endautoescape %}
    </section>
</body>
</html>
